@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>@ViewData["Title"] - MovieApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/cover.css" />
  </head>

  <body class="text-center">

    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">MovieApp</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link" href="#">Movies</a>
            <a class="nav-link" href="#">About</a>
            <div class="nav-link">|</div>
            @if (SignInManager.IsSignedIn(User))
            {
              <form  class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button  type="submit" class="nav-link btn btn-link">Logout</button>
              </form>
            }
            else
            {
              <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
              <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
            }

          </nav>
        </div>
      </header>



        @RenderBody()

        <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo"></a>.</p>
        </div>
      </footer>
    </div>


      @* <script src="../../assets/js/vendor/popper.min.js"></script> *@

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
  </body>
</html>





@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* <head> *@
@*     <meta charset="utf-8" /> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
@*     <title>@ViewData["Title"] - MovieApp</title> *@
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
@*     <link rel="stylesheet" href="~/css/site.css" /> *@
@* </head> *@
@* <body> *@
@*     <header> *@
@*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"> *@
@*             <div class="container"> *@
@*                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MovieApp</a> *@
@*                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                         aria-expanded="false" aria-label="Toggle navigation"> *@
@*                     <span class="navbar-toggler-icon"></span> *@
@*                 </button> *@
@*                  *@
@*                  *@
@*                 <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"> *@
@*                     <partial name="_LoginPartial" /> *@
@*                     <ul class="navbar-nav flex-grow-1"> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                         </li> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                 </div> *@
@*             </div> *@
@*         </nav> *@
@*     </header> *@
@*     <div class="container"> *@
@*         <main role="main" class="pb-3"> *@
@*             @RenderBody() *@
@*         </main> *@
@*     </div> *@
@* *@
@*     <footer class="border-top footer text-muted"> *@
@*         <div class="container"> *@
@*             &copy; 2020 - MovieApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*         </div> *@
@*     </footer> *@
@*     <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@*     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@*     <script src="~/js/site.js" asp-append-version="true"></script> *@
@*     @RenderSection("Scripts", required: false) *@
@* </body> *@
@* </html> *@
